.container {
  margin: auto;
  margin-top: 10vh;
  max-width: 600px;
  padding: 50px;
}

.contact {
  /* display: flex;
  flex-direction: column; */
}

.contact a {
  margin-right: 10px;
}

.main {

}

.square {
  min-width: 1.5rem;
  min-height: 10px;
  max-width: 10px;
  background: black;
  /* margin-right: 1rem; */
}